<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="floral.Properties.Settings.Цветочный_магазинConnectionString"
            connectionString="Data Source=DESKTOP-TUUP3HC\SQLEXPRESS;Initial Catalog=Цветочный_магазин;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>